.Owner {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.25rem;
    text-decoration: none;
    color: #242a3d;
}

.Date {
    font-size: 1.25rem;
    margin-right: 1.5rem;
    color: #5c5c5c;
}