.Owner {
    font-size: 1.25rem;
    font-weight: lighter;
    margin-right: 1.5rem;
    text-decoration: none;
    color: #242a3d;
}

.Date {
    font-size: 1.25rem;
    font-weight: lighter;
    margin-right: 1.5rem;
}