.Button {
    font-size: 0.8rem;
    align-self: center;
    font-weight: bold;
    border-radius: 10px;
    border-color: transparent;
    min-width: 75px;
    letter-spacing: 0.2em;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.SignInOutText {
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

.Button:hover {
    opacity: 0.8;
    border-color: transparent;
    cursor: pointer;
}

.Button:hover:active {
    background-color: #ffa600 !important;
}

.Button:active {
    background-color: #ffa600 !important;
}

.Button:focus {
    background-color: #ffa600;
}

.Wide {
    padding: 10px 50px;
    width: 100%;
}

.Orange,
.OrangeOutline:hover,
.Bright:hover {
    background-color: #ffa600;
    color: #ffffff;
}

.OrangeOutline,
.Orange:hover {
    /* border: 1px solid #2142b2; */
    background-color: #ffffff;
    color: #ffa600;
    border-color: #ffa600;
}

.Black,
.BlackOutline:hover {
    /* background-color: #242a3d;
    color: white; */
    background-color: #242a3d;
    color: aliceblue;
}

.Black:hover,
.BlackOutline {
    /* background-color: #dadadf;
    color: #242a3d;
    border-color: #242a3d; */
    background-color: aliceblue;
    color: #242a3d;
}

.Bright {
    background-color: #d1e57c;
    color: #1b1b1b;
}

.Danger {
    background-color: #ff0000;
    color: #ffffff;
}