.DropdownItem {
    display: inline-block;
    padding: 0.5rem;
    color: #555555;
}

.ThreeDots {
    font-size: 2.5rem;
    color: #555555;
    margin: 0;
    padding: 0;
}

.DropdownIcon {
    color: #8a8a8a;
    margin: 0;
}

.DropdownItem:hover {
    color: #bb7900;
}

.DropdownItem.active,
.DropdownItem:active,
.DropdownItem:focus,
.DropdownItem:hover {
  background-color: #f0f0f0 !important; 
}

