.ProfileImage {
  object-fit: cover;
  height: 175px;
  width: 175px;
  margin: 4px;
  clip-path: inset(0 0 0 0 round 50%);
}

.ProfileContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
}

.Content {
  background-color: #ffffff;
  border-radius: 5px;
  border: 1px solid #f1f1f1;
  padding: 1rem;
}

.ProfileInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.About {
  max-width: 70%;
  margin: auto;
  margin-bottom: 2rem;
}

@media screen and (max-width: 960px) {
  .ProfileImage {
    width: 170px;
    height: 170px;
    clip-path: inset(0 0 0 0 round 50%);
    object-fit: cover;
  }

  .About {
    max-width: 100%;
  }
}

@media screen and (max-width: 770px) {
  .ProfileInfo {
    align-items: center;
  }
}