.RecipesPage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.SearchContainer {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}

.SearchInput {
    border-radius: 10px;
    color: #505050;
    padding-left: 40px;
    padding-right: 40px;
    width: 100%;
    background-color: rgb(255, 255, 255);
}

.SearchIcon {
    position: absolute;
    font-size: 1.2rem;
    padding: 9px;
    padding-left: 15px;
}

.SearchIcon:hover {
    cursor: default;
    color: #cfced3;
}