.Recipe {
    background-color: #ffffff;
    border: 1px solid #dadadf;
    border-radius: 2px;
    margin-bottom: 16px;
    text-align: center;
}

.RecipeBar {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 10px;
    padding: 1rem;
    max-width: 45%;
}

.TitleContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap : 0.5rem;
}

.Title {
    text-transform: capitalize;
    font-size: 2rem;
    font-weight: bold;
    text-align: start;
    margin: 0;
}

.Heading {
    font-weight: bold;
    text-transform: uppercase;
    text-align: start;
}

.RecipeImage {
    width: 50%;    
}

.Count {
    font-size: x-large;
    color: #7d7d7d;
    margin-right: 1rem;
}

.FavoriteIcon {
    color: #ff0000;
    cursor: pointer;
    margin: 0;
    font-size: 2.5rem;
}

.FavoriteIcon:hover {
    color: #ff8c00;
}

.SectionLink {
    font-size: large;
    text-decoration: none;
    color: #242a3d;
}

.SectionLink i {
    color: #242a3d;
    margin-right: 0.75rem;
}

.IngredientContainer {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 1rem;
}

.IngredientList {
    margin-top: 1rem;
}

.Ingredient {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

.DisabledInput {
    pointer-events: none;
    background-color: #ffffff;
}

.InstructionsContainer {
    padding: 1rem;
}

@media screen and (max-width: 1200px) {
    .TitleContainer {
        flex-direction: column;
    }
    .RecipeBar {
        width: 100%;
        max-width: 100%;
        padding: 1rem;
    }
    .RecipeImage {
        width: 100%;
    }
    
}