.Form {
  border: none;
  border-bottom: 2px #ff8c00 solid;
}

.Button {
  border: none;
  background-color: #5f5e5e;
  color: aliceblue;
  border-radius: 100px;
  padding: 4px 10px;
  min-width: 75px;
  margin: 5px;
}

.Button:hover {
  cursor: pointer;
  background-color: #bb7900;;
  color: #3a3a3a;
}

.EditReviewContainer {
  padding: 0 1.5rem 1rem 1.5rem;
  margin-bottom: 1.5rem;
  background-color: rgb(247, 247, 247);
  border-radius: 10px;
}

.Divider {
  margin-top: 1.5rem;
  color: rgb(146, 146, 146);
}

.FormLabel {
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: bold;
}