.ReviewContainer {
    padding-left: 1rem;
    padding-right: 1rem;
}

.Date {
    color: #9d9d9d;
    margin-bottom: 0.75rem;
}

.StarRating {
    display: flex;
    align-items: center;
}

.StarFilled {
    color: #ffd700;
    font-size: 1rem;
    padding: 5px 5px 5px 0;
    pointer-events: none;
}

.StarHalf {
    color: #ffd700;
    font-size: 1rem;
    padding: 5px 5px 5px 0;
    pointer-events: none;
}

.StarEmpty {
    color: #ccc;
    font-size: 1rem;
    padding: 5px 5px 5px 0;
    pointer-events: none;
}

.Rating {
    margin-left: 0.5rem;
}

.Owner {
    font-weight: bold;
    color: #ff8c00;
    margin-right: 0.5rem;
    font-size: 1.15rem;
}

.Divider {
    margin-top: 1.5rem;
    color: rgb(146, 146, 146);
}