.Heading {
    font-weight: bold;
    text-transform: uppercase;
    text-align: start;
}

.Content {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 2px;
    border: 1px solid #dadadf;
  }
  