.SignUpFormCoverImage {
    background: url("../assets/cookbook-signup.jpg") no-repeat center center/cover;
    height: 30vh;
    max-height: 400px;
    width: 100vw;
    margin-top: 117px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.PageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    margin-top: 117px;
}

.FormContainer {
    width: 400px;
    min-height: fit-content;
    max-width: 80%;
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
    margin-top: 10%;
}

.Content {
    width: 400px;
    max-height: fit-content;
    max-width: 80%;
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
    padding: 1rem;
    margin-top: 1rem;
}

.Input {
    background: #ffffff;
    border: 1px solid #ededed;
    box-sizing: border-box;
    border-radius: 5px;
    color: #868686;
    text-align: center;
    padding: 10px;
    width: 100%;
    margin-top: 1rem;
}

.Header {
    font-style: normal;
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #5a5a5a;
    margin-top: .75rem;
}

.Divider {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    border: 1px solid #879e41;
}

.Link {
    text-decoration: none;
    text-align: center;
    display: block;
    margin: auto;
}