.StarRating {
    display: flex;
    align-items: center;
}

.StarFilled {
    color: #ffd700;
    font-size: 1.75rem;
    padding: 5px;
}

.StarHalf {
    color: #ffd700;
    font-size: 1.75rem;
    padding: 5px;
}

.StarEmpty {
    color: #ccc;
    font-size: 1.75rem;
    padding: 5px;
}

.ReviewCount {
    margin-left: 8px;
    font-size: 1.25rem;
}